<pm-selected (msg)="onMessage($event)" *ngIf="selected" [selectedUser]="selected">
</pm-selected>
<button (click)="selected=''">Clear</button>


<h1 autoGrow style="color:red">Users Component are here</h1>
<button autoGrow class="" [ngClass]="{myClasses: isActive}">DELETE</button>
<h2 (mouseover)="myColor = 'blue'" (mouseout)="myColor = 'yellow'" [style.color]='myColor'>{{user.name}}</h2>


<input type="text" [(ngModel)]="myFilterKey">

<div [innerHtml]="user.name"></div>

<table class="table table-bordered">
    <tr>
        <td>User Name</td>
        <td>Age</td>
        <td>City</td>
    </tr>
    <tr *ngFor="let x of users | filter : myFilterKey" (click)="selected = x.name">
        <td>{{x.name}}</td>
        <td>{{x.age | currency : 'EUR': false : '4.1-3' | lowercase}}</td>
        <td *ngIf="x.address">{{x.address.city}}</td>
    </tr>
</table>

